<section id="download" class="ptb-90 gray-bg">
    <div class="container">
        <div class="col-md-12">
            <!--promo box center align start-->
            <div class="text-center">
                <h1 class="text-uppercase mb-30 text-extrabold font-30">Download the materialize app  from play store</h1>
                <p class="width-60 mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

                <a href="#" class="btn btn-download pink waves-effect waves-light mt-20"><i class="fa fa-android left"></i> <span>Android <strong>Download</strong></span></a>
            </div>
            <!--promo box center align end-->
        </div>
    </div>
</section>
