<section id="review" class="section-padding brand-bg">
  <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="thumb-carousel circle-thumb text-center">
            <ul class="slides">
              <li data-thumb="assets/img/client-thumb/5.png">
                <div class="icon">
                    <img src="assets/img/quote-dark.png" alt="Customer Thumb">
                </div>
                <div class="content white-text">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                    <div class="testimonial-meta">
                        John Doe,
                        <span class="white-text">User Interface Designer</span> 
                    </div>
                </div>
              </li>
              <li data-thumb="assets/img/client-thumb/2.png">
                <div class="icon">
                    <img src="assets/img/quote-dark.png" alt="Customer Thumb">
                </div>
                <div class="content white-text">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                    <div class="testimonial-meta">
                        Elita Karim,
                        <span class="white-text">User Interface Designer</span> 
                    </div>
                </div>
              </li>
              <li data-thumb="assets/img/client-thumb/3.png">
                <div class="icon">
                    <img src="assets/img/quote-dark.png" alt="Customer Thumb">
                </div>
                <div class="content white-text">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                    <div class="testimonial-meta">
                        Tomas Udoya,
                        <span class="white-text">User Interface Designer</span> 
                    </div>
                </div>
              </li>
              <li data-thumb="assets/img/client-thumb/4.png">
                <div class="icon">
                    <img src="assets/img/quote-dark.png" alt="Customer Thumb">
                </div>
                <div class="content white-text">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                    <div class="testimonial-meta">
                        Jonathon Bin,
                        <span class="white-text">User Interface Designer</span> 
                    </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div><!-- /.row -->

  </div><!-- /.container -->
</section>