<!-- Hero Section -->
<section id="home" class="padding-top-110 dark-bg">
    <div class="container">
      <div class="text-center">
          <h1 class="intro-title text-capitalize white-text">materialize</h1>
          <span class="sub-intro white-text">Specialising in customer experiences &amp; brand development, we combine digital craftsmanship with innovative thinking to deliver disruptive digital solutions on a worldwide scale.</span>
          <!-- <a href="#" class="btn btn-lg mt-20 mb-30 pink">About Us</a> -->

          <a href="#" class="btn btn-download pink waves-effect waves-light mt-20 mb-50"><i class="fa fa-android left"></i>  <span>Android <strong>Download</strong></span></a>
      </div><!-- hs-content-inner -->

      <div class="text-center mocup-wrapper">
        <img src="assets/img/mockup/app.png" alt="">
      </div>
      
    </div><!-- /.container -->
</section>
<!-- Hero Section End -->
<section class="padding-top-110">
	<div class="container">

	  <div class="text-center mb-80">
	      <h2 class="section-title text-uppercase">materialize Have</h2>
	      <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
	  </div>


	  <div class="row no-gutter">
	      <div class="col-md-3 col-sm-6">
	          <div class="featured-box brand-bg text-center z-depth-1">
	            <div class="featured-wrapper">
	              <div class="intro-header">
	                  <i class="material-icons white-text">&#xE32A;</i>
	                  <h2 class="white-text">Fast and Secure</h2>
	              </div>

	              <div class="content white-text">
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae tempora.</p>
	              </div>
	            </div><!-- /.featured-wrapper -->
	          </div><!-- /.featured-box  -->
	      </div><!-- /.col-md-3 -->

	      <div class="col-md-3 col-sm-6">
	          <div class="featured-box pink text-center z-depth-1">
	            <div class="featured-wrapper">
	              <div class="intro-header">
	                  <i class="material-icons white-text">&#xE55F;</i>
	                  <h2 class="white-text">GPS Tracking</h2>
	              </div>

	              <div class="content white-text">
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae tempora.</p>
	              </div>
	            </div><!-- /.featured-wrapper -->
	          </div><!-- /.featured-box  -->
	      </div><!-- /.col-md-3 -->


	      <div class="col-md-3 col-sm-6">
	          <div class="featured-box brand-bg text-center z-depth-1">
	            <div class="featured-wrapper">
	              <div class="intro-header">
	                  <i class="material-icons white-text">&#xE31D;</i>
	                  <h2 class="white-text">Voice Assistant</h2>
	              </div>

	              <div class="content white-text">
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae tempora.</p>
	              </div>
	            </div><!-- /.featured-wrapper -->
	          </div><!-- /.featured-box  -->
	      </div><!-- /.col-md-3 -->                  

	      <div class="col-md-3 col-sm-6">
	          <div class="featured-box pink text-center z-depth-1">
	            <div class="featured-wrapper">
	              <div class="intro-header">
	                  <i class="material-icons white-text">&#xE855;</i>
	                  <h2 class="white-text">24/7 Support</h2>
	              </div>

	              <div class="content white-text">
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae tempora.</p>
	              </div>
	            </div><!-- /.featured-wrapper -->
	          </div><!-- /.featured-box  -->
	      </div><!-- /.col-md-3 -->
	  </div><!-- /.row -->

	  <div class="row padding-top-100">
	      <div class="col-md-7">
	          <h2 class="text-bold mb-30 text-capitalize">Apps you love</h2>
	          
	          <p>Quickly procrastinate functionalized human capital with equity invested experiences. Rapidiously provide access to extensible solutions after pandemic supply chains. Credibly supply resource sucking channels before areas Dynamically harness cooperative partnerships rather than just in time total linkage. Dramatically syndicate plug and play <a href="#">professional with focused</a>. Credibly supply resource sucking channels before areas.</p>

	          <p>Lorem ipsum dolor sit amet cr adipiscing elit. In maximus ligula semper <a href="#">metus pellentesque</a> mattis.</p>
	      </div>

	      <div class="col-md-5">
	          <img src="assets/img/mockup/mac.png" class="img-responsive " alt="Image">
	      </div>
	  </div>
	</div><!-- /.container -->

	<div class="mocup-wrapper text-center">
	    <img src="assets/img/mockup/landscap-mockup.jpg" alt="image">
	</div>
	</section>


	<section class="padding-top-110 padding-bottom-70 brand-bg">
	<div class="container">
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	      <div class="quote-carousel text-center">

	          <div class="carousel-item">
	              <div class="content">
	                  <h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time."</h2>

	                  <div class="testimonial-meta font-20 text-extrabold white-text">
	                      Steve Jobes
	                  </div>
	              </div><!-- /.content -->
	          </div><!-- /.carousel-item -->

	          <div class="carousel-item">
	              <div class="content">
	                  <h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time."</h2>

	                  <div class="testimonial-meta font-20 text-extrabold white-text">
	                      Steve Jobes
	                  </div>
	              </div><!-- /.content -->
	          </div><!-- /.carousel-item -->

	          <div class="carousel-item">
	              <div class="content">
	                  <h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time."</h2>

	                  <div class="testimonial-meta font-20 text-extrabold white-text">
	                      Steve Jobes
	                  </div>
	              </div><!-- /.content -->
	          </div><!-- /.carousel-item -->
	      </div>
	  </div><!-- /.col-md-8 -->
	</div><!-- /.row -->
	</div><!-- /.container -->
	</section>